.markdown-body {
	box-sizing: border-box;
	min-width: 200px;
	max-width: 980px;
	margin: 0 auto;
	padding: 15px;

	background-color: white !important;
	color: black !important;
}

.markdown-body h1 {
	font-size: 2.2em;
	font-weight: bold;
	border-bottom: 0px !important;
	padding: 0;
	margin: 2px 0 0 0 !important;
}

.markdown-body hr {
	margin: var(--base-size-16) 0 !important;
}

.markdown-body div.date {
	margin-bottom: var(--base-size-16) !important;
}

.markdown-body hr.top-hr {
	margin-bottom: 8px !important;
}

.markdown-body ul {
	list-style-type: disc;
}

.markdown-body ul li,
.markdown-body ol li {
	margin: 0.5em 0; /* 리스트 아이템 사이 간격 */
}

.markdown-body ol li::marker {
	font-weight: bold;
}

.markdown-body ol {
	list-style-type: decimal;
	padding-left: 2em;
}

.markdown-body p {
	font-size: 18px;
}

@media (max-width: 767px) {
	.markdown-body {
		padding: 15px;
	}

	.markdown-body h1 {
		font-size: 1.5em !important;
	}

	.markdown-body p {
		font-size: 15px;
	}
}
